<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    <test name="Personal loan">
        <classes>
            <class name="DayATest"/>
            <class name="DayBTest"/>
            <class name="DayCTest"/>
        </classes>
    </test>
    <test name="Car Loan">
    <classes>
        <class name="DayDTest">
            <methods>
                <exclude name="Mobile.*"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>